{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/types/*.ts",
    "src/validators/"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "skip-full": true,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100
}
